<!doctype html>
<html>

<head>
  <title>Dashboard</title>
</head>

<body>
  <h3>Hello {{User.username}}</h3>
  <p>Welcome to your dashboard</p>
  <p>Here is the information we have on file for you:</p>
  <h4>username: {{User.username}}</h4>
  <h4>email: {{User.occupation}}</h4>
  <a href="/logout">Logout</a>
</body>

</html>